/* 
  Post
*/

.post {
  @media (width >= 768px) {
    margin-block-start: 4lh;
  }

  article {
    display: flex;
    flex-direction: column;
  }

  header {
    margin-inline: auto;
    text-wrap: balance;

    @media (width >= 768px) {
      max-width: 84%;
    }
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
    word-wrap: break-word;
  }

  h2,
  h3 {
    margin-block: .84lh .667lh;
  }

  h1 {
    background-color: var(--post-title-bg);
    background-image: url('./assets/leaves.webp');
    background-size: 20%;
    background-blend-mode: color-burn;
    border: 16px solid var(--primary);
    border-image: linear-gradient(var(--primary), var(--secondary)) 50;
    color: var(--post-title-fg);
    font-size: 3.2rem;
    padding: 1.1rem;
    padding-block-start: 5rem;

    @media (width >= 768px) {
      font-size: 3.6rem;
    }
  }

  h2 {
    margin-block-start: 2rem;

    @media (width >= 768px) {
      margin-block-start: 2.25rem;
    }
  }

  h3 {
    margin-block-start: 2rem;

    @media (width >= 768px) {
      margin-block-start: 2.25rem;
    }
  }

  ol,
  ul {
    margin-block-end: .5lh;
    padding: revert;

    & li + li {
      margin-block-start: .2lh;
    }
  }

  blockquote {
    border-left: 8px solid var(--light);
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    display: block;
    margin-block: 2rem 1rem;
    padding: 1rem 0 1rem 1rem;

    p {
      margin: 0;
    }
  }

  .metadata {
    color: var(--post-metadata-fg);
    font-size: 85%;
    margin-block: 1rem;
    padding-inline: 1.1rem;
    text-align: center;

    p {
      margin: 0;
    }

    @media (width >= 768px) {
      padding-inline: 0;
    }
  }

  .post-content,
  .post-footer {
    padding: 1rem 1rem 0;
    max-width: 48ch;
    
    @media (width >= 768px) {
      margin: auto;
    }
  }

  .post-content {
    margin-block-end: 2rem;
    padding-block-end: 1rem;

    > p {
      &:first-of-type {
        /* This is the intro paragraph */
        padding-block-start: 1rem;
      }
    }
  }

  .post-footer {
    background-color: var(--post-footer-bg);
    border-radius: 4px;
    border: 8px solid color-mix(
      in hsl, 
      var(--primary) 92%, 
      var(--darkest)
    );
    box-shadow: 2px 2px 16px -2px color-mix(
      in hsl, 
      var(--post-footer-bg) 80%, 
      var(--lightest)
    );
    color: var(--post-footer-fg);
    padding: 2.5rem 2.5rem;
    margin: 0 1rem 12rem;

    @media (width >= 768px) {
      margin-inline: auto;
    }
    
    a {
      color: var(--post-footer-fg);
      text-decoration-color: var(--post-footer-link-underline);
    }
  }

  img {
    border: 8px double var(--primary);
    border-radius: 8px;
    height: auto;
    max-width: 100%;
    padding: 2px;
  }

  figure {
    margin-block-end: 2rem;
  }

  figcaption {
    font-size: .65rem;
    text-align: center;
  }
}