/* 
  Shared
*/

/* Links with a post title and date */
.perspective {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:focus,
  &:hover {
    & span:first-child,
    & span:last-child {
      color: var(--link-focus-fg-clr);
      text-decoration-color: var(--darkest);
    }
  }

  span:first-child {
    order: 2;
    text-decoration-color: var(--link-underline-clr);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
  }

  span:last-child {
    order: 1;
    font-size: small;
    font-style: italic;
    margin-inline-end: .667rem;
  }
}