---
title: 'perspectives - a daniel dafoe blog'
description: 'Thoughts on web accessiblity, design, front-end engineering, and language.'
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <meta name='title' content="{{title}}">
  <meta name='description' content="{{description}}">
  <meta name='author' content='Daniel Dafoe'>

  <meta property='og:type' content='website'>
  <meta property='og:title' content="{{title}}">
  <meta property='og:description' content="{{description}}">
  <meta property='og:image' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta property='og:url' content='https://blog.danieldafoe.com'>
  <meta property='og:site_name' content='perspectives: a daniel dafoe blog'>
  <meta property='og:locale' content='en_CA'>

  <meta name='twitter:card' content='summary_large_image'>
  <meta name='twitter:site' content='@danieldafoe'>
  <meta name='twitter:creator' content='@danieldafoe'>
  <meta name='twitter:img' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta name='twitter:img:alt' content='perspectives: a daniel dafoe blog'>

  <link rel="icon" href="/assets/favicon.svg">
  <link rel="stylesheet" href="/css.css">

  {% include '_fonts.njk' %}

  <title>{{ title }}</title>
</head>
<body class="home">
  <main>
    <div class="intro">
      <h2 id="blog-topics" class="font--impact">
        this blog is about...
      </h2>
      {# 
        Need to add roles since Safari will remove semantics
        due to using `list-style-type: none` 😢
       #}
      <ul role="list" class="blog-topics" aria-labelledby="blog-topics">
        <li role="listitem">
          Web accessibility.
        </li>
        <li role="listitem">
          User experience design.
        </li>
        <li role="listitem">
          Front-end engineering.
        </li>
        <li role="listitem">
          Language.
        </li>
      </ul>
      {# <div class="bio">
        <p>
          Hey, I'm Daniel. I'm a designer and web engineer. I design inclusive experiences people can understand and enjoy, and craft thoughtful code that's efficient and understandable by other engineers.
        </p>

        <p>
          My passions are sociolinguistics, human languages, and user experience design. My goal for 2024 is to learn ASL (American Sign Language).
        </p>
      </div> #}
      
    </div>

    <div class="perspectives">
      <h2 class="font--impact">
        ...perspectives
      </h2>
      
      {% set sortedPosts = collections.posts | sortCollection %}
      {# 
        Need to add roles since Safari will remove semantics
        due to using `list-style-type: none` 😢
       #}
      <ul class="latest-perspectives" role="list">
        {% for post in sortedPosts | limit(3) %}
          <li role="listitem">
            <a href="{{ post.url }}" 
               class="perspective" 
               data-title="{{- post.data.title -}}">
              <span>
                {{- post.data.title -}}
              </span>
              <span id={{ 'post-date-' + post.fileSlug }}>
                {{- post.data.date | prettyDate -}}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <h2 class="all-perspectives">
      <a href="/posts/">
        all posts
      </a>
    </h2>

  </main>
</body>
</html>
