---
title: 'perspectives - a daniel dafoe blog'
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

  <meta name='title' content="{{title}}">
  <meta name='description' content="Web accessibility, front-end engineering, and design.">
  <meta name='author' content='Daniel Dafoe'>

  <meta property='og:type' content='website'>
  <meta property='og:title' content="{{title}}">
  <meta property='og:description' content="Web accessibility, front-end engineering, and design.">
  <meta property='og:image' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta property='og:url' content='https://blog.danieldafoe.com'>
  <meta property='og:site_name' content='perspectives: a daniel dafoe blog'>
  <meta property='og:locale' content='en_CA'>

  <meta name='twitter:card' content='summary_large_image'>
  <meta name='twitter:site' content='@danieldafoe'>
  <meta name='twitter:creator' content='@danieldafoe'>
  <meta name='twitter:img' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta name='twitter:img:alt' content='perspectives: a daniel dafoe blog'>

  <link rel="icon" href="/assets/favicon.svg">
  <link rel="stylesheet" href="/css.css">

  {% include '_fonts.njk' %}

  <title>{{ title }}</title>
</head>
<body class="home">
  <main>

    <div class="intro">
      <div class="bio">
        <p>
          Hey, I'm Daniel. I'm a designer and web engineer. I <strong>design inclusive experiences</strong> people can understand and enjoy, and <strong>craft thoughtful code</strong> that's efficient and understandable by other engineers.
        </p>

        <p>
          My passions are sociolinguistics, human languages, and user experience design. My goal for 2024 is to learn ASL (American Sign Language).
        </p>
      </div>

      <h2 class="font--impact">
        Perspectives
      </h2>

      {% set sortedPosts = collections.posts | sortCollection %}
      {# 
        Need to add roles since Safari will remove semantics
        due to using `list-style-type: none` 😢
       #}
      <ul role="list">
        {% for post in sortedPosts | limit(3) %}
          <li role="listitem">
            <a href="{{ post.url }}" class="perspective">
              <span>
                {{- post.data.title -}}
              </span>
              <span id={{ 'post-date-' + post.fileSlug }}>
                {{- post.data.date | prettyDate -}}
              </span>
            </a>
          </li>
        {% endfor %}
      </ul>

      <h2 class="all-perspectives">
        <a href="/posts/">
          all posts
        </a>
      </h2>
      
    </div>

    <div class="details">
      <h1>
        Daniel Dafoe
      </h1>
      <div class="art">
        <svg width="501" height="501" viewBox="0 0 501 501" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Abstract composition of triangles and circles slowly rotates clockwise, shrinking in size until returning to full size">
          <path class="circle-big" d="M352 250C352 306.333 306.333 352 250 352C193.667 352 148 306.333 148 250C148 193.667 193.667 148 250 148C306.333 148 352 193.667 352 250Z" fill="#2B2B2B"/>
          <path class="circle-small" d="M500 62C500 27.7584 472.242 5.08145e-06 438 5.08145e-06C403.758 5.08145e-06 376 27.7584 376 62C376 96.2417 403.758 124 438 124C472.242 124 500 96.2417 500 62Z" fill="#2B2B2B"/>
          <path class="circle-small" d="M124 62C124 27.7584 96.2417 5.08145e-06 62 5.08145e-06C27.7584 5.08145e-06 5.08145e-06 27.7584 5.08145e-06 62C5.08145e-06 96.2417 27.7584 124 62 124C96.2417 124 124 96.2417 124 62Z" fill="#2B2B2B"/>
          <path class="circle-small" d="M124 438C124 403.758 96.2417 376 62 376C27.7584 376 5.08145e-06 403.758 5.08145e-06 438C5.08145e-06 472.242 27.7584 500 62 500C96.2417 500 124 472.242 124 438Z" fill="#2B2B2B"/>
          <path class="circle-small" d="M500 438C500 403.758 472.242 376 438 376C403.758 376 376 403.758 376 438C376 472.242 403.758 500 438 500C472.242 500 500 472.242 500 438Z" fill="#2B2B2B"/>
          <path class="triangle" d="M250.25 67.117L134 134.234V0L250.25 67.117Z" fill="#3D3D3D"/>
          <path class="triangle" d="M250.25 433.133L134 366.016V500.25L250.25 433.133Z" fill="#3D3D3D"/>
          <path class="triangle" d="M250 67.117L366.25 134.234V0L250 67.117Z" fill="#3D3D3D"/>
          <path class="triangle" d="M250 433.133L366.25 366.016V500.25L250 433.133Z" fill="#3D3D3D"/>
          <path class="triangle" d="M433.117 250.25L500.234 134H366L433.117 250.25Z" fill="#3D3D3D"/>
          <path class="triangle" d="M433.117 250L500.234 366.25H366L433.117 250Z" fill="#3D3D3D"/>
          <path class="triangle" d="M67.117 250.25L134.234 134H0L67.117 250.25Z" fill="#3D3D3D"/>
          <path class="triangle" d="M67.117 250L134.234 366.25H0L67.117 250Z" fill="#3D3D3D"/>
        </svg>
      </div>
    </div>

  </main>
</body>
</html>
