---
title: 'No title'
shareTitle: 'No share title'
teaser: 'No teaser'
summary: 'No summary'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name='title' content="{{shareTitle}}">
  <meta name='description' content="{{teaser}}">
  <meta name='author' content='Daniel Dafoe'>

  <meta property='og:type' content='article'>
  <meta property='og:title' content="{{shareTitle}}">
  <meta property='og:description' content="{{teaser}}">
  <meta property='og:image' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta property='og:url' content='https://blog.danieldafoe.com'>
  <meta property='og:site_name' content='perspectives: a daniel dafoe blog'>
  <meta property='og:locale' content='en_CA'>

  <meta name='twitter:card' content='summary_large_image'>
  <meta name='twitter:site' content='@danieldafoe'>
  <meta name='twitter:creator' content='@danieldafoe'>
  <meta name='twitter:img' content='https://blog.danieldafoe.com/assets/og.jpg'>
  <meta name='twitter:img:alt' content='perspectives: a daniel dafoe blog'>

  <link rel='canonical' href='https://blog.danieldafoe.com'>
  <link rel="stylesheet" href="/css.css">
  <link rel="icon" href="https://blog.danieldafoe.com/assets/favicon.svg">

  <title>{{ shareTitle }} - a daniel dafoe perspective</title>
</head>
<body class='post'>
  <article>
    <header>
      <h1>
        {{ title }}
      </h1>
      <div class='metadata'>
        <p>
          <b>Published:</b> {{ page.date | prettyDate }}
        </p>
        {# <ul class="tags">
          {% for tag in tags %} <li>{{ tag }}</li> {% endfor %}
        </ul> #}
      </div>
    </header>

    <div class="post-content">
      {{ content | safe }}
    </div>
    
    <div class="post-footer">
      The impressive thoughtpiece you just read was conceived by none other than <a href='https://danieldafoe.com'>Daniel Dafoe</a>—a web engineer, designer, and accessibility expert living in California.
    </div>
  </article>
</body>
</html>